body{
    display: contents;
    margin: 8px;
}

.nav{
    float: right;
    margin: 10px;
}

.nav-item{
    text-decoration: none;
    color: gray;
    margin-right: 15px;
    
}

.nav-item:hover{
    text-decoration: underline;
}

.main{
    margin-top: 300px;
    text-align: center;
}

.input-area{
    margin-top: 20px;
    margin-bottom: 15px;
}

.input-box{
    width: 584.99px;
    height: 46px;
    border-radius: 24px;
    border: 1px solid rgb(196, 195, 195);
    padding-left: 45px;
    padding-right: 45px;
}

.search-icon{
    position: relative;
    left: 40px;
    color: #9aa0a6;
}

.mic-icon{
    position: relative;
    right: 40px;
    color: #9aa0a6;
}

.button-area{
    padding-top: 18px;
    margin-bottom: 18px;
}

.button-style{
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    padding: 0 16px;
    color: gray;
    margin: 5px;
}

.button-style:hover{
    box-shadow: 0 1px 1px rgb(0, 0, 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.language{
    text-decoration: none;
    padding: 0 3px;
    color: #1a0dab;
}

.language:hover{
    text-decoration: underline;
}

.footer{
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    width: 100%;
}

.footer-top{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.footer-bottom{
    padding: 15px 30px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.span{
    color: gray;
    text-decoration: none;
    margin-right: 8px;
}

.span:hover{
    text-decoration: underline;
}

.footer-bottom-two{
    float: right;
}