.box{
    border: 50px solid #95a5a6;
    width: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}

.boxgreen{
    border: 50px solid #27ae60;
    width: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boxblue{
    border: 50px solid #2980b9;
    width: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}

.challenge2{
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    padding-left: 10%;
}

h1{
    color: #9b59b6;
    text-align: center;
}

p{
    size: 16px;
    font-style: italic;
    font-family: Verdana;
}

p::first-letter{
    font-size: 200%;
    color: #2980b9;
    padding-left: 20px;
}

p::befor{
    content: "Read this:";
}

.sub-header{
    color: #2980b9;
}